@charset "UTF-8";
html, body {
    padding: 0;
    margin: auto;
    border: 0;
    background: rgb(44, 43, 46) !important;
    color: white
}
    
html {
    font-size: 14px;
    line-height: 2;
    font-family: 'Lato', sans-serif;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
    
.sub-container {
    width: 90%;
    min-width: 200px;
}

.imgbox {
    display: grid;
    height: 100%;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

::placeholder {
    color: gray;
}

input[type=text] {
    width: 100%;
    padding: 10px 10px;
    margin: 10px;
    box-sizing: border-box;
}

input[type=submit] {
    background: rgb(163,128,209);
    border: none;
    display: block;
    padding: 10px 30px;
    text-align: center;
    margin: 0 auto;
    border-radius: 6px;
    color: white;
    opacity: 0.9;
    font-weight: bold;
}

input[type=submit]:hover {
    opacity: 1;
    cursor: pointer;
}

fieldset {
    padding-right: 2em;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}